body {
  margin: 0;
  padding: 0;
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #3a7bd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #3a7bd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  padding-top: 250px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
}

.card {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  background-color: #3498db;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.card-footer {
  background-color: #3498db;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.card-footer button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-footer button:hover {
  background-color: #27ae60;
}

.card.status-open {
  background-color: #2ecc71;
}

.card.status-pending {
  background-color: #f39c12;
}

.card.status-inprogress {
  background-color: #3498db;
}

.card.status-complete {
  background-color: #9b59b6;
}
